body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
}

p {
    display: inline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: oblique;
}

.addProps p + input {
    width: 20%;
    margin-left: 8px;
}

.myinputstyle {
    margin-bottom: 10px;

    display: inline-block;
    position: relative;
    width: 80%;

}

.myinputstyle input {
    overflow: hidden;
    width: 50%;
    display: inline-block;

}

input[type=checkbox] {
    width: 5%;
}

.parseButton {
    margin-left: 25px;
    margin-top: 0px;
}

.parsingResult {
    margin-left: 20%;
    padding: 10px;
    display: inline-block;
}

.authGroup {
    position: relative;
    width: 40%;
    height: 20%;
    top: 40%;
    left: 30%;

}

.addProps {
    display: none;
}

.content {
    position: relative;

    left: 10%;
    padding-left: 1%;

    width: 80%;
    height: 80%;
    background-color: rgba(22, 22, 49, 0.27);
}

#conditionCustomers {
    border: 5px solid #28a4c9;
}

#resultTable {
    border: 5px solid springgreen;

}

